@import '../../styles/variables.module';

.header {
  background-color: $white;
  height: 145px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

    .logo {
      align-items: center;
      display: flex;
      gap: 10px;
      text-decoration: none;
  
      svg {
        height: 40px;
        width: 40px;
      }
  
      h1 {
        color: $dark-gray;
        font-size: 32px;
        font-weight: 700;
      }
    }

    .cartButton {
      align-items: center;
      background-color: $dark-blue;
      border: none;
      border-radius: 22px;
      cursor: pointer;
      display: inherit;
      gap: 10px;
      height: 45px;
      padding: 0 15px;

      svg {
        height: 25px;
        width: 25px;
      }

      span {
        color: $white;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  .list {
    display: flex;
    list-style: none;
    justify-content: space-around;

    .link {
      color: $dark-gray;
      font-weight: 500;
      font-size: 20px;
      text-decoration: none;
    }

    .active {
      color: darkblue;
      text-decoration: none;
      padding-bottom: 15px;
      border-bottom: 3px solid $dark-blue;
    }
  }
}

@media (max-width: 768px) and (min-width: 500px) {
  .header {
    padding: 0 20px;
    height: 130px;

    .container {
      .logo {
        svg {
          height: 30px;
          width: 30px;
        }

        h1 {
          font-size: 22px;
        }
      }

      .cartButton {
        height: 35px;

        svg {
          height: 20px;
          width: 20px;
        }

        span {
          font-size: 14px;
        }
      }
    }

    .list {
      .link {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 499px) {
  .header {
    height: 112px;
    padding: 0 10px;

    .container {
      padding: 10px 10px 15px 10px;
      .logo {
        svg {
          height: 30px;
          width: 30px;
        }

        h1 {
          font-size: 22px;
          max-width: 100px;
        }
      }

      .cartButton {
        height: 35px;

        svg {
          height: 20px;
          width: 20px;
        }

        span {
          font-size: 14px;
        }
      }
    }

    .list {
      .link {
        font-size: 14px;
      }
    }
  }
}