@import "../../styles/variables.module";

.list {
  display: flex;
  list-style: none;
  justify-content: space-around;

  .link {
    color: $dark-gray;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
  }

  .active {
    color: darkblue;
    text-decoration: none;
    padding-bottom: 15px;
    border-bottom: 3px solid $dark-blue;
  }
}

@media (max-width: 768px) and (min-width: 500px) {
  .list {
    .link {
      font-size: 16px;
    }
  }
}

@media (max-width: 499px) {
  .list {
    .link {
      font-size: 14px;
    }
  }
}